1code/unitf21/99 Collaborative Research 1.json
{
  "name": "99 Collaborative Research 1",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nI am your research agent. Please enter your research topic, and I will help you organize relevant literature and generate an academic outline.",
        "options": {
          "responseMode": "streaming"
        }
      },
      "id": "d90e8127-0fa4-4b1d-81aa-9be7d7427b8d",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2192,
        2176
      ],
      "webhookId": "507cb302-7485-4a2b-bfa1-8995ac4d70ae"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an orchestrator agent that coordinates research, fact-checking, and report compilation. \nUse this topic:{{ $json.chatInput }}\n, delegate tasks sequentially to specialized agents: \n1) First, use Research_Agent to gather comprehensive information. \n2) Then, use FactChecking_Agent to verify the research findings. \n3) Finally, use ReportCompiler_Agent to create the final report. Each agent can see previous results through shared memory. Coordinate their work to produce accurate, well-researched reports.",
          "enableStreaming": true
        }
      },
      "id": "10700915-f7b8-4989-b63d-094803558934",
      "name": "Orchestrator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1808,
        2176
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "id": "3f07cddb-33ad-4c0c-b9fc-c623e6b81d20",
      "name": "Orchestrator Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2208,
        2400
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "FKXZRS7kHmfv8JQp",
          "name": "Google Gemini Api FreeJenny"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Research Agent - Gathers comprehensive information on {{ $('Chat Trigger').item.json.chatInput }}\ntopics using Wikipedia and web search",
        "text": "=Research the given topic:\n{{ $('Chat Trigger').item.json.chatInput }}\nthoroughly using  SearchTool, always provide a specific search query. Also use WikipediaTool for encyclopedic information and SearchTool for current developments and statistics. Gather key facts, historical context, and recent developments. Provide detailed findings with sources.",
        "options": {
          "systemMessage": "You are a research assistant. Use the available tools carefully. For SearchTool, you must provide a clear search query string. For WikipediaTool, provide the topic name. If a tool fails, try an alternative approach or use a different tool.",
          "maxIterations": 2,
          "returnIntermediateSteps": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_Intermediate_Steps', ``, 'boolean') }}"
        }
      },
      "id": "5cf2748a-dccc-437d-a7cb-23630ff7ddd1",
      "name": "ResearchAgent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -2016,
        2400
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1888,
        2608
      ],
      "id": "5d94a2a2-ebff-4f31-969f-c881859bbef7",
      "name": "GoogleGemini",
      "credentials": {
        "googlePalmApi": {
          "id": "BQHuJ1r4Rs30trS2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "id": "c17e78f4-859e-4e0a-9997-0775c9525ac2",
      "name": "WikipediaTool",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -1760,
        2608
      ]
    },
    {
      "parameters": {
        "options": {
          "google_domain": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Google_Domain', ``, 'string') }}",
          "hl": "en"
        }
      },
      "id": "4ab8c79e-6cef-4019-a739-99736ec117e5",
      "name": "SearchTool",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -1632,
        2608
      ],
      "notesInFlow": true,
      "credentials": {
        "serpApi": {
          "id": "aEsKtrDDC1Tblqs1",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Fact-Checking Agent - Verifies claims and information accuracy using multiple sources",
        "text": "Verify the accuracy of the provided research information. When using SearchTool, always provide specific search queries to cross-reference claims. Use multiple reliable sources to check facts. Identify any inaccuracies, outdated information, or unsupported claims. Provide verification status for each key claim with sources.",
        "options": {
          "systemMessage": "You are a fact-checking assistant. Use tools carefully with proper parameters. For SearchTool, always provide specific search query strings. If a tool fails, continue with available information.",
          "maxIterations": 3
        }
      },
      "id": "650edbbc-268a-47da-9ec0-232ade83da42",
      "name": "FactCheckingAgent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1616,
        2400
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "id": "5c0925a9-e1a9-46e4-9280-143510694f8b",
      "name": "FactCheckingModel",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1504,
        2608
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "FKXZRS7kHmfv8JQp",
          "name": "Google Gemini Api FreeJenny"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Report Compiler Agent - Synthesizes research and fact-checked information into comprehensive reports",
        "text": "Compile the research findings and fact-checking results into a comprehensive, well-structured report. Organize information logically with clear sections, include verified facts, cite sources, and present a balanced view of the topic.",
        "options": {
          "systemMessage": "You are a report compiler. Synthesize the research and fact-checking results from the conversation history into a comprehensive, well-structured report.",
          "maxIterations": 3
        }
      },
      "id": "88904ed3-befa-46a7-9586-0cb09f514eeb",
      "name": "ReportCompilerAgent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1328,
        2400
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "id": "09b0ac09-5104-45b9-91d3-7e82b028ef90",
      "name": "ReportCompilerModel",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1248,
        2608
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "FKXZRS7kHmfv8JQp",
          "name": "Google Gemini Api FreeJenny"
        }
      }
    },
    {
      "parameters": {},
      "id": "2c46da94-0a22-4092-a8a7-06e3d65c4552",
      "name": "Shared Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2016,
        2608
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ResearchAgent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GoogleGemini": {
      "ai_languageModel": [
        [
          {
            "node": "ResearchAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WikipediaTool": {
      "ai_tool": [
        [
          {
            "node": "ResearchAgent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "FactCheckingAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearchTool": {
      "ai_tool": [
        [
          {
            "node": "ResearchAgent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "FactCheckingAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FactCheckingAgent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FactCheckingModel": {
      "ai_languageModel": [
        [
          {
            "node": "FactCheckingAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ReportCompilerAgent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ReportCompilerModel": {
      "ai_languageModel": [
        [
          {
            "node": "ReportCompilerAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Shared Memory": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "ResearchAgent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "FactCheckingAgent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "ReportCompilerAgent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3cdf5202-f370-4724-84c9-4179ff8cac53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f99c0b38d61fd40b3986982e7369bc021df64168a734c9319139faf1a12f037"
  },
  "id": "DwFgiECTdcUiTiRy",
  "tags": []
}